* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style-type: none;
}

.w {
    width: 1200px;
    margin: 0px auto;
}

.header {
    height: 42px;
    /* background-color: lightgray; */
    margin: 10px auto;
}

.logo {
    float: left;
    width: 130px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 120px;
}

.nav ul li {
    float: left;
    margin: 0px 10px;
}

.nav a {
    /* background-color: orange; */
    color: black;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    line-height: 42px;
    padding: 5px 10px;
}

.nav a:hover {
    border-bottom: 2px solid cornflowerblue;
    color: cornflowerblue;
}

.search {
    float: left;
    width: 360px;
    height: 42px;
    margin-left: 200px;
    background-color: yellow;
}

.search .text {
    float: left;
    border: 1px solid #00a4ff;
    border-right: 0px;
    width: 307px;
    height: 40px;
    text-indent: 15px;
    color: #bfbfbf;
}

.search .button {
    float: left;
    width: 52px;
    height: 42px;
    border: 1px solid #00a4ff;
    background-image: url("../img/fa-search.png");
}

.profile {
    float: right;
    height: 42px;
    /* background-color: burlywood; */
    margin-right: 30px;
}

.profile img {
    float: left;
    line-height: 33px;
    height: 33px;
    padding: 4.5px;
    border-radius: 33px;
}

.profile .uname {
    float: left;
    font-size: 14px;
    line-height: 42px;
    color: #666000;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    /* 避免引人注目，暂时注掉 */
    /* background: url(../img/banner.png) no-repeat top center; */
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(20, 2, 75, .5);
}

.subnav ul li a {
    display: inline-block;
    width: 160px;
    font-size: 12px;
    color: #d3d1d9;
    text-decoration: none;
    padding: 0px 15px;
    line-height: 46px;
}

.subnav ul li a span {
    float: right;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.subnav ul li a:hover {
    background-color: rgba(20, 2, 75, 1);
    color: #00b4ff;
}

.course {
    float: right;
    /* 注：浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
    width: 200px;
    height: 300px;
    background-color: #fff;
}